<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Usuario</th>
        <th scope="col">Contrasena</th>
        <th scope="col">Tarea</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let administrador of lista">
        <th scope="row">{{ administrador.id }}</th>
        <td>{{ administrador.nombre }}</td>
        <td>{{ administrador.usuario}}</td>
        <td>{{ administrador.contrasena }}</td>
        <td>{{ administrador.tarea }}</td>
        <td>{{ administrador.estado }}</td>
      </tr>
    </tbody>
  </table>
  <hr>
  <a href="administrador/nuevo" class="btn btn-warning btn-lg" tabindex="-1" role="button" >Nuevo Administrador</a>
 