<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Usuario</th>
        <th scope="col">Contrasena</th>
        <th scope="col">Tarea</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Maria</td>
        <td>Maria01</td>
        <td>1234</td>
        <td>Reservar</td>
        <td>1</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Juan</td>
        <td>Juan02</td>
        <td>5678</td>
        <td>Administrar</td>
        <td>0</td>
      </tr>
    </tbody>
  </table>
