<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Modo</th>
        <th scope="col">Telefono</th>
        <th scope="col">Email</th>
        <th scope="col">Pais</th>
        <th scope="col">DNI</th>
        <th scope="col">Foto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of lista">
        <th scope="row">{{ cliente.id }}</th>
        <td>{{ cliente.nombre }}</td>
        <td>{{ cliente.modo }}</td>
        <td>{{ cliente.telefono }}</td>
        <td>{{ cliente.email }}</td>
        <td>{{ cliente.pais }}</td>
        <td>{{ cliente.dni }}</td>
        <td>{{ cliente.foto }}</td>
      </tr>
    </tbody>
  </table>
  <hr>
  <a href="cliente/nuevo" class="btn btn-warning btn-lg" tabindex="-1" role="button" >Nuevo Cliente</a>
