<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Modo</th>
        <th scope="col">Telefono</th>
        <th scope="col">Email</th>
        <th scope="col">Pais</th>
        <th scope="col">DNI</th>
        <th scope="col">Foto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Alejandra</td>
        <td>Activo</td>
        <td>985412630</td>
        <td>Alejandra25@gmail.com</td>
        <td>Argentina</td>
        <td>75412036</td>
        <td>foto</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Carla</td>
        <td>Activo</td>
        <td>974521036</td>
        <td>Carla5@gmail.com</td>
        <td>Bolivia</td>
        <td>79654172</td>
        <td>foto</td>
      </tr>
    </tbody>
  </table>
