<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">NomPlato</th>
        <th scope="col">PrecioPlato</th>
        <th scope="col">foto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let restaurante of lista">
        <th scope="row">{{ restaurante.id }}</th>
        <td>{{ restaurante.nomPlato }}</td>
        <td>{{ restaurante.precioPlato }}</td>
        <td>{{ restaurante.foto }}</td>
      </tr>
    </tbody>
  </table>
  <hr>
  <a href="restaurante/nuevo" class="btn btn-warning btn-lg" tabindex="-1" role="button" >Nuevo Restaurante</a>
