<h3>Nuevo Testimonio</h3>
<div class="mb-3">
    <label for="ContenidoInput" class="form-label">Contenido</label>
    <input type="text" class="form-control" id="ContenidoInput" [value]="nuevoTestimonio.contenido">
  </div>
<div class="mb-3">
    <label for="EstadoInput" class="form-label">Estado</label>
    <input type="text" class="form-control" id="EstadoInput" [value]="nuevoTestimonio.estado">
  </div>
  <hr>
  <a href="testimonio" class="btn btn-warning btn-lg" tabindex="-1" role="button" >Aceptar</a>