<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Contenido</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let testimonio of lista">
        <th scope="row">{{ testimonio.id }}</th>
        <td>{{ testimonio.contenido }}</td>
        <td>{{ testimonio.estado }}</td>
      </tr>
    </tbody>
  </table>
  <hr>
  <a href="testimonio/nuevo" class="btn btn-warning btn-lg" tabindex="-1" role="button" >Nuevo Testimonio</a>
