<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Ingreso</th>
        <th scope="col">Salida</th>
        <th scope="col">Precio</th>
        <th scope="col">Adelanto</th>
        <th scope="col">Dias</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reserva of lista">
        <th scope="row">{{ reserva.id }}</th>
        <td>{{ reserva.ingreso }}</td>
        <td>{{ reserva.salida }}</td>
        <td>{{ reserva.precio }}</td>
        <td>{{ reserva.adelanto }}</td>
        <td>{{ reserva.dias }}</td>
      </tr>
    </tbody>
  </table>
