<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Ingreso</th>
        <th scope="col">Salida</th>
        <th scope="col">Precio</th>
        <th scope="col">Adelanto</th>
        <th scope="col">Dias</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>2021-12-08</td>
        <td>2021-12-16</td>
        <td>50</td>
        <td>20</td>
        <td>8</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>2021-10-15</td>
        <td>2021-10-18</td>
        <td>65</td>
        <td>25</td>
        <td>3</td>
      </tr>
    </tbody>
  </table>
