<div class="bg-warning border right p-3" id="sidebar">
    <h3 class="text-light">CRUD</h3>
    <hr class="text-white">
    <div class="list-group list-reset">
      <a href="administrador" class="list-group-item list-group-item-action">Administrador</a>
      <a href="cliente" class="list-group-item list-group-item-action mt-3">Cliente</a>
      <a href="reserva" class="list-group-item list-group-item-action mt-3">Reserva</a>
      <a href="habitacion" class="list-group-item list-group-item-action mt-3">Habitacion</a>
      <a href="restaurante" class="list-group-item list-group-item-action mt-3">Restaurante</a>
      <a href="testimonio" class="list-group-item list-group-item-action mt-3">Testimonio</a>
    </div>

