<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Estado</th>
        <th scope="col">Tipo</th>
        <th scope="col">Precio</th>
        <th scope="col">Descripcion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let habitacion of lista">
        <th scope="row">{{ habitacion.id }}</th>
        <td>{{ habitacion.nombre }}</td>
        <td>{{ habitacion.estado }}</td>
        <td>{{ habitacion.tipo }}</td>
        <td>{{ habitacion.precio }}</td>
        <td>{{ habitacion.descripcion }}</td>
      </tr>
    </tbody>
  </table>
  <hr>
  <a href="habitacion/nuevo" class="btn btn-warning btn-lg" tabindex="-1" role="button" >Nueva Habitacion</a>
